
# vscode 配置
.vscode/
# vs 配置
.vs/
# opencode 配置
.opencode/
# 编辑器临时文件
*.swp
*.swo
*~

# 默认忽略的文件
/shelf/
/workspace.xml
# Rider 忽略的文件
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.AHU-AI-Repository.iml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# 已忽略包含查询文件的默认文件夹
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# 其他
.idea/